@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*max-width: 800px; */
  font-family: "Open Sans", sans-serif;
}

/*propiedades del body****************************************************************************** */
body {
  background-color: #f3e5d8;
}

/*CABECERA DEL SITIO****************************************************************************** */
#cabecera {
  background-color: #255538;
  padding: 15px;
  margin: 0 2px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  position: sticky;;
  top: 0px;
}

#cab2 {
  color: white;
  font-family: "Kanit", sans-serif;
}

/*cuerpo del navegacion, contenido del proyecto************************************************************************************ */

#cuerpo {
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
}

/*baner principal************************************************************************************ */

#tituloprincipal {
  background-image: url("../image/hero.jpg");
  padding: 20px;
  border: 2px solid #255538;
  margin: 15px;
  border-radius: 15px;
  color: #fafafa;
}

#tituloprincipal1 {
  text-align: center;
}

/*botones de navegacion***************************************************************************** */

#nav1 {
  display: flex;
  justify-content: flex-end
}

#list1 {
 /* margin-left: auto; */
  padding: 5px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
}

.navlia {
  width: 130px;
  display: inline-block;
  background-color: #255538;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  padding: 2px;
}

.navlia:link,
.navlia:visited,
.navlia:active {
  text-decoration: none;
  color: #fafafa;
}




/*seccion de articulos***************************************************************************** */

section {
  padding: 10px;
}

article {
  background-color: rgb(253, 253, 253);
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
}

.h2art {
  color: #724333;
  padding: 10px;
  font-size: 2pc;
}
.h3art {
  color: #724333;
  padding: 10px;
}

.tablacont,
.tdcont {
  border-bottom: 1px solid #7e4333;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.licont {
  margin: 0 75px;
}

/*pie de pagina***************************************************************************** */

#piedepagina {
  background-color: #255538;
  padding: 15px;
  margin: 2px;
  border-radius: 10px;
}

#piedepagina {
  display: flex;
  justify-content: start;
  justify-content: space-between;
}

#pie2 {
  color: white;
}

/*adaptacion a 600 o menos px***************************************************************************** */

@media screen and (max-width: 600px) {
  /*eliminar titulo principal********************** */
  #tituloprincipal {
    display: none;
  }
  /*colocar la navegacion en columna y alargar al 100%****** */
  #list1 {
    width: 100%;
    flex-direction: column;
  }
  
  .navli .navlia {
   
    width: 100%;
    text-align: center;
    color: aqua;
  }





  /*colocar la navegacion en columna y alargar al 100%****** */
  .h2art {
    font-size: 5pc;
  }

  /*Ajuste tabla texto a la der 2 colmna*/
  .tablacont tr td:nth-of-type(2) {
    text-align: end;
  }
}
